/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.img-scale {
	width:100% !important;
	padding:0px;
		} 	
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.img-scale {
	width:100% !important;
	padding:0px;
		}	
		#menu-icon {
		display:inline-block;
		}

	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
		}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
		}

	nav:hover ul {
		display: block;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.img-scale {
	width:100% !important;
	padding:0px;
		}	
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#nathan {
		text-align:center;	
		}
		.img-scale {
		width:100% !important;
		padding:0px;
		}
		#hide {
		display:none;	
		}	
		.line-break {
		display:block;	
		}
	}
	
	 
 
/* #Story Section
================================================== */

#container {
	width:100%;
	color:#666;
	padding:50px 0px 50px 0px;	
}