body {
    color: #333;
}
a {
    color: #be2221;
    text-decoration: none;
}

.callback,
.simple {
  font-size: 20px;
  background: #27ae60;
  padding: 0.5em 0.7em;
  color: #ffaca6;
  margin-bottom: 50px;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}
.callback{
  cursor: pointer;
}
.ended {
  background: #c0392b;
}
.styled{
  margin-bottom: 10px;
  color:#ffaca6;
  font-family: 'Prata', serif;
}
.styled div {
  display: inline-block;
  margin-left: 5%;
  font-size: 40pt;
  font-weight: 200;
  line-height: 1;
  text-align: center;
}
/* IE7 inline-block hack */
*+html .styled div{
  display: inline;
  zoom: 1;
}
.styled div:first-child {
  margin-left: 0;
}
.styled div span {
  display: block;
  padding-top: 3px;
  color:#644377;
  font-size: 10pt;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
